body{
    background: url(gym.jpg);
    background-repeat: repeat-y;
    background-size: cover;

}
h1{
    margin: 0px;
    
}
img{
    float: right;
    position: relative;
    bottom: 220px;
    right: 10px;
    
}
form{
    font-size: 30px;
    color: gray;
    border: 8px solid black;
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px cyan;
}
form input{
    font-size: large;
    margin: 10px;
}
#gta{
    background-color: cyan;
    border: 5px solid black;
    border-radius: 16px;
}
marquee{
    font-weight: bolder;
    font-size: 40px;
}
#ktm{
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: 300px;
}
@media(max-width: 500px){
    form{
        width: 250px;
        font-size: 20px;
        border: 4px solid black;

    }
}
#hack{
    list-style: none;
    float: left;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    right: 30px;
    
    
}
































































